[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
requests = "*"
cvxopt = "*"
image = "*"
ipython = "*"
ipythonblocks = "*"
ipywidgets = "*"
jupyter = "*"
keras = "*"
matplotlib = "*"
networkx = "*"
numpy = "*"
opencv-python = "*"
pillow = "*"
pytest-cov = "*"
qpsolvers = "*"
scipy = "*"
sortedcontainers = "*"
tensorflow = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.10"
